<nz-card class="w-full rounded-2xl bg-white my-3 box-border">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="donate()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your card number!">
        <div class="flex items-center space-x-2">
          <label for="cardNumber" class="whitespace-nowrap grow-[2] basis-0">Card Number</label>
          <input id="cardNumber" type="number" nz-input formControlName="CardNumber" placeholder="Card Number" class="basis-0 grow-[3]">
        </div>
      </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Name!">
        <div class="flex items-center space-x-2">
          <label for="name" class="whitespace-nowrap grow-[2] basis-0">Name on the Card</label>
          <input id="name" type="text" nz-input formControlName="Name" placeholder="Name on the card" class="basis-0 grow-[3]">
        </div>
      </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your CVV!">
        <div class="flex items-center space-x-2">
          <label for="cvv" class="whitespace-nowrap grow-[2] basis-0">CVV</label>
          <input id="cvv" type="number" nz-input formControlName="CVV" placeholder="CVV" class="basis-0	grow-[3]">
        </div>
      </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the card expiration date!">
        <div class="flex items-center space-x-2">
          <label for="expirationDate" class="whitespace-nowrap grow-[2] basis-0">Expiration Date</label>
          <input id="expirationDate" type="text" nz-input formControlName="expirationDate" placeholder="MM/YY" class="basis-0 grow-[3]">
        </div>
      </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the amount!">
        <div class="flex items-center space-x-2">
          <label for="amount" class="whitespace-nowrap grow-[2] basis-0">Amount</label>
          <input id="amount" type="number" nz-input formControlName="amount" placeholder="amount$" class="basis-0 grow-[3]">
        </div>
      </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
      <nz-form-control>
        <div class="flex items-center space-x-2">
          <label for="switch" class="whitespace-nowrap grow-[2] basis-0">Anonymous</label>
          <nz-switch id="switch" [(ngModel)]="switchValue" class="basis-0 grow-[3]"></nz-switch>
        </div>
      </nz-form-control>
    </nz-form-item>
    <br>
      <button nz-button [nzType]="'primary'" class="float-right">Confirm</button>
  </form>

</nz-card>
