<ul nz-menu nzTheme="light"
    nzMode="inline"
    class="pt-4 gap-10 mt-12 sm:gap-2">

  <li nz-menu-item routerLink= '/shop'
      [routerLinkActive]="'ant-menu-item-selected'"
      (click)="onItemClicked()">
    <a>
      <span nz-icon nzType="shop" [nzTheme]="isRouteActive('/shop')? 'fill': 'outline' " style="font-size: 24px;"></span>
      <span [ngClass]="{'hide-text': isSideNavCollapsed}">Shop</span>
    </a>
  </li>
  <li nz-menu-item routerLink= '/aboutus'
      [routerLinkActive]="'ant-menu-item-selected'"
      (click)="onItemClicked()">
    <a class="flex flex-row items-center">
      <span nz-icon nzType="info-circle" [nzTheme]="isRouteActive('/aboutus')? 'fill': 'outline' " style="font-size: 24px;"></span>
      <span [ngClass]="{'hide-text':isSideNavCollapsed}">About Us</span></a>
  </li>
  <li nz-menu-item routerLink= '/profile'
      [routerLinkActive]="'ant-menu-item-selected'"
      (click)="onItemClicked()">
    <a class="flex flex-row items-center">
      <span nz-icon nzType="smile" [nzTheme]="isRouteActive('/profile')? 'fill': 'outline' " style="font-size: 24px;"></span>
      <span [ngClass]="{'hide-text':isSideNavCollapsed}">Profile</span></a>
  </li>
  <li nz-menu-item routerLink= '/favourites'
      [routerLinkActive]="'ant-menu-item-selected'"
      (click)="onItemClicked()">
    <a class="flex flex-row items-center">
      <span nz-icon nzType="book" [nzTheme]="isRouteActive('/favourites')? 'fill': 'outline' " style="font-size: 24px;"></span>
      <span [ngClass]="{'hide-text':isSideNavCollapsed}">favourites</span></a>
  </li>
  <li nz-menu-item
      (click)="logOut()">
    <a class="flex flex-row items-center">
      <span nz-icon nzType="logout" nzTheme="outline" style="font-size: 24px;"></span>
      <span [ngClass]="{'hide-text':isSideNavCollapsed}">Log out</span></a>
  </li>
</ul>
