<div class="sn-open flex mx-4 md:mx-48 my-6 flex-col">
  <nz-card class="w-full rounded-2xl bg-transparent my-3 box-border min-h-[500px]" [style.backgroundImage]="'url(' + (campaign?.subCampaign?.campaignImage ?? '') + ')'">
    <div class="absolute inset-0 bg-gradient-to-r from-transparent to-black"></div>
    <div class="flex justify-between box-border">
      <div class="flex w-50%">
        <h1 class="mt-5 text-3xl pl-5">{{campaign?.subCampaign?.name ?? ''}}</h1>
      </div>
      <div class="flex items-center justify-end w-50 mt-5">
        <button *ngIf="!favourite" nz-button nzType="primary" class="rounded-2xl" (click)="addFavorite()">Add to bookmarks</button>
        <button *ngIf="favourite" nz-button nzType="default" nzDanger class="rounded-2xl" (click)="removeFavourite()">Remove from bookmarks</button>
        <button nz-button nzType="primary" class="rounded-2xl m-2" (click)="share()">share</button>
      </div>
    </div>
  </nz-card>
  <app-progress-bar
    [currentAmount]="getCurrentAmount()"
    [goalAmount]="getGoalAmount()"
    [progress]="getProgressPercentage()"></app-progress-bar>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div class="w-full col-span-2">
      <nz-tabset>
        <nz-tab nzTitle="Campaign Information">
          <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
            <p>{{campaign?.subCampaign?.description}}</p>
          </nz-card>
          <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
            <div>
              <app-pie-chart [campaignId]="campaignId"></app-pie-chart>
            </div>
          </nz-card>
          <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
            <table class="border-collapse border-2  w-full mx-auto">
              <thead>
              <tr>
                <th class="border">Rank</th>
                <th class="border">Name</th>
                <th class="border">Amount Donated</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of leaderboard?.leaderboard; let i = index">
                <td class="border text-center">{{ i + 1}}</td>
                <td class="border text-center">{{ getUserName(user) }}</td>
                <td class="border text-center">{{ user.amount }}</td>
              </tr>
              </tbody>
            </table>
          </nz-card>
        </nz-tab>
      </nz-tabset>
    </div>

    <div class="w-full lg:w-auto">
      <app-donate [isSubCampaign]="true"></app-donate>
    </div>

  </div>
</div>
