<div class="sn-open flex mx-4 md:mx-48 my-6 flex-col">
  <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
  <div class="flex justify-between">
    <div class="flex w-50%">
      <div class="border-4 border-fuchsia-900">
        <img [src]="campaign?.campaign?.campaignImage?? '' " height="170" width="170" alt="{{campaign?.campaign?.campaignName?? ''}}">
      </div>
      <h1 class="mt-5 text-3xl pl-5">{{campaign?.campaign?.campaignName?? ''}}</h1>
    </div>
    <div class="flex justify-between w-80 mt-5">
      <button nz-button nzType="primary" class="rounded-2xl" (click)="addFavorite()">Add to favourite</button>
      <button nz-button nzType="primary" class="rounded-2xl">Create sub-campaign</button>
    </div>
  </div>
  </nz-card>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="w-full">
      <table class="border-collapse border-2 w-3/4">
        <thead>
        <tr>
          <th class="border">Rank</th>
          <th class="border">Name</th>
          <th class="border">Amount Donated</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of leaderboard?.leaderboard; let i = index">
          <td class="border text-center">{{ i }}</td>
          <td class="border text-center">{{ getUserName(user) }}</td>
          <td class="border text-center">{{ user.amountDonated }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full lg:w-auto">
      <app-donate></app-donate>
    </div>

  </div>
</div>
