<div class="sn-open flex mx-4 md:mx-48 my-6 flex-col">
  <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
  <div class="flex justify-between box-border">
    <div class="flex w-50%">
      <div class="border-4 border-fuchsia-900">
        <img [src]="campaign?.campaign?.campaignImage?? '' " style="max-width: 100%; max-height: 100%;" alt="{{campaign?.campaign?.campaignName?? ''}}">
      </div>
      <h1 class="mt-5 text-3xl pl-5">{{campaign?.campaign?.campaignName?? ''}}</h1>
    </div>
    <div class="flex items-center justify-end w-50 mt-5">
      <button *ngIf="!favourite" nz-button nzType="primary" class="rounded-2xl" (click)="addFavorite()">Add to bookmarks</button>
      <button *ngIf="favourite" nz-button nzType="default" nzDanger class="rounded-2xl" (click)="removeFavourite()">Remove from bookmarks</button>
      <button nz-button nzType="primary" class="rounded-2xl ml-3">Create sub-campaign</button>
    </div>
  </div>
  </nz-card>
  <app-progress-bar
    [currentAmount]="getCurrentAmount()"
    [goalAmount]="getGoalAmount()"
    [progress]="getProgressPercentage()"></app-progress-bar>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="w-full">
      <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
        <p>{{campaign?.campaign?.description}}</p>
      </nz-card>
      <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
        <div>
          <app-pie-chart></app-pie-chart>
        </div>
      </nz-card>
      <nz-card class="w-full rounded-2xl bg-white my-3 box-border">
      <table class="border-collapse border-2  w-full mx-auto">
        <thead>
        <tr>
          <th class="border">Rank</th>
          <th class="border">Name</th>
          <th class="border">Amount Donated</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of leaderboard?.leaderboard; let i = index">
          <td class="border text-center">{{ i }}</td>
          <td class="border text-center">{{ getUserName(user) }}</td>
          <td class="border text-center">{{ user.amountDonated }}</td>
        </tr>
        </tbody>
      </table>
      </nz-card>
    </div>

    <div class="w-full lg:w-auto">
      <app-donate></app-donate>
    </div>

  </div>
</div>
