<div class="sn-open flex mx-4 md:mx-48 my-6 flex-col">
  <div class="flex flex-col md:flex-row gap-y-3 md:gap-x-5 my-3 justify-center items-center">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-20 mt-8">
      <nz-card *ngFor="let campaign of campaigns" class="bg-[#fafbff] rounded-2xl">
        <div class="flex flex-col gap-4 ">
          <div class="bg-[#e9f1ff] p-4 flex h-80 justify-center items-center">
            <div>
                <img [src]="campaign.campaignImage" alt="Campaign"
                     class="object-cover rounded-lg">
            </div>
          </div>
          <p class="text-xl font-bold">{{campaign.campaignName}}</p>
          <p class="text-[#425466]">{{campaign.description}}</p>
          <button nz-button nzSize="large" nzType="primary" class="rounded-xl">See more</button>
        </div>
      </nz-card>

    </div>
  </div>
</div>
